<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Standard Analytics IO. The Science API company." />
    <meta name="keywords" content="Standard Analytics, data, open data, linked data, statistics, science, model, publishing, publication, package, hypermedia, REST, API, RDF, RDFa, JSON-LD" />


    <title>Standard Analytics IO</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

    <nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a href="http://standardanalytics.io" class="pure-menu-heading"><i class="fa fa-external-link fa-2x"></i></a>
      <ul>
        <li><a href="http://standardanalytics.io/markup">Markup</a></li>
        <li><a href="https://registry.standardanalytics.io">Registry</a></li>
        <li><a href="http://blog.standardanalytics.io">Blog</a></li>
      </ul>
    </nav>


    <div class="container push-top">

      <%- snippet %>

    </div>

    <footer>

      <section class="container">
	<ul>
	  <li><a href="http://twitter.com/RESTfulScience"> <i class="fa fa-twitter fa-2x"></i><span> Twitter</span></a></li>
          <li><a href="mailto:founders@standardanalytics.io"><i class="fa fa-envelope fa-2x"></i><span> e-mail</span></a></li>
          <li><a href="http://blog.standardanalytics.io/rss"><i class="fa fa-rss-square fa-2x"></i><span>RSS feed</span></a></li>
	  <li><a href="http://github.com/standard-analytics"><i class="fa fa-github fa-2x"></i><span>Github</span></a></li>
	</ul>
      </section>

    </footer>

  </body>
</html>
