/* for sticky footer from: http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 82px; /* bottom = footer height (for sticky footer) */
}

.container { /* to center content */
  margin: 0 auto;
  max-width: 980px;
}

.push-top{ /* to compensate fixed menu */
  margin-top: 60px;
}

/* main links */

.push-top a {
  color: rgb(0, 183, 255);
  text-decoration: none;
}

.push-top a:hover {
  text-decoration: underline;
}

.push-top a:visited {
  color: rgb(0, 183, 255);
}

.jsonld-key {
  color: rgb(139, 203, 0) !important;
}

.jsonld-type{
 color: rgb(239, 58, 171) !important;
}

.jsonld-id{
 color: rgb(255, 103, 0) !important;
 font-weight: bold; !important;
}



/* footer */

footer { 
  position: absolute; /* for sticky footer from: http://mystrd.at/modern-clean-css-sticky-footer/ */
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
  color: white;
  background: rgb(43, 37, 44);
}

footer li{
  display: inline;
  padding-right: 1.6em;
}

footer a, footer a:visited{
  color: white;  
  text-decoration: underline;
}

footer a span{
  display: none;
}



#obesity .is-based-on-url:hover {
  text-decoration: underline;
}

pre {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 90%;
  background: #faf8f0;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}
